@model List<Book>
@{
    ViewBag.Title = "Boeken";
}

@foreach (Book book in Model)
{
    <p>@book.Title</p>
}

<a asp-controller="Book" asp-action="Create" role="button" class="btn btn-labeled btn-primary">Maak een nieuw boek</a>
<a asp-controller="Book" asp-action="Index" role="button" class="btn btn-labeled btn-primary">Alles tonen</a>